# Chrome Web Store publishing configuration
# Please copy this file as. env and fill in the correct values

# Extension ID (obtained from the Chrome Web Store)
EXTENSION_ID=your_extension_id_here

# OAuth 2.0 credentials (obtained from Google Cloud Console)
# https://github.com/DrewML/chrome-webstore-upload/blob/master/How%20to%20generate%20Google%20API%20keys.md
CLIENT_ID=342213916796-0iqftauh6n0n8asa0tup5mr0a4grvli2.apps.googleusercontent.com
CLIENT_SECRET=your_client_secret_here
REFRESH_TOKEN=your_refresh_token_here

# Build Configuration
# Optional: DEV, BETA, TRUSTED_TESTERS, PROD
BUILD_CHANNEL=DEV

 # Automatically increment version number (true/false)
AUTO_BUMP_VERSION=true